
.typingsrc

# ignore aot folder as it is created by the ngc compiler
aot/*

# ignore typings/globals folder as they're retrieved using typings tool
typings/globals/*

./angular2-esri-netcore.xproj.user