


<div id="top-menu">

    <!--<button ctsTooltip tooltipTopOffset="-5" class="icon" id="open-menu" title="Open menu" (click)="openMainMenu()">
        <span class="menu-hamburger"></span>
    </button>-->

    <!--<span class="separator"></span>-->

    <div id="top-menu-options">

        <div class="top-menu-option-container" >
            <button class="icon text" (click)="toggleMenu(menuList.BASEMAPS, true)">
                <i class="fa fa-globe"></i>Basemaps
            </button>
        </div>

        <span class="separator"></span>

        <div class="top-menu-option-container" >

            <button class="icon text" (click)="toggleMenu(menuList.DRAW_TOOLS, true)">
                <i class="fa fa-pencil"></i>Draw Tools
            </button>

        </div>

        <span class="separator"></span>
         
        <div class="top-menu-option-container">

            <button class="icon text view-select left" [class.view-active]="mapManagerService.activeView.type === '2d'" (click)="toggleView('2d')">
                 Map View
            </button>
            <button class="icon text view-select right" [class.view-active]="mapManagerService.activeView.type === '3d'" (click)="toggleView('3d')">
                Scene View
            </button>
        </div>



        <span *ngIf="fullScreenSupported" class="separator"></span>
        <div *ngIf="fullScreenSupported" class="top-menu-option-container">
            <button title="Toggle full screen mode" class="icon" id="toggle-full-screen" (click)="toggleFullScreen()">
                <i class="fa fa-desktop"></i>
            </button>
        </div>

    </div>

</div>


<basemap-picker (onClosed)="toggleMenu(menuList.BASEMAPS, false)" [isOpen]="menuList[menuList.BASEMAPS]"></basemap-picker>
<draw-tools (onClosed)="toggleMenu(menuList.DRAW_TOOLS, false)" [isOpen]="menuList[menuList.DRAW_TOOLS]"></draw-tools>
