@import "config";

html, body {
    font-family: $font-family;
    width: 100%;
    margin: 0;
    height: 100%;
}

div.view {
    height: 100%;
    width: 100%;
}

div.view.inactive {
   position: absolute;
   z-index: -10;
   height: 1px;
   width: 1px;
   display: none;
}

.loading-modal {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0; 
    left: 0;
    z-index: 3000;
    background-color: rgba(0, 0, 0, 0.8);
    color: #FFF;

    .loading-content {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.2em;        
    }

}